 /* Pseudoclases */ 

 /*pagina principal*/

 .img-dieciseis{
    &:hover{
        border-radius: 1px solid;
        box-shadow: 2px 3px 4px $box-shadow;
      
    }
 }

 .img-diecisiete{
    &:hover{
        border-radius: 1px solid;
        box-shadow: 2px 3px 4px $box-shadow;
    }
 }

 .img-dieciocho{
    
    &:hover{
        border-radius: 1px solid;
        box-shadow: 2px 3px 4px $box-shadow;
        
    
    }
 }

 /*pseudoclases pagina dos*/

 .img-tres{
    &:hover{
        border-radius: 1px solid;
        box-shadow: 2px 3px 4px $box-shadow;
    }
 }

 .img-cuatro{
    &:hover{
        border-radius: 1px solid;
        box-shadow: 2px 3px 4px $box-shadow;
    }
 }

 .img-cinco{
    &:hover{
        border-radius: 1px solid;
        box-shadow: 2px 3px 4px $box-shadow;
    }
 }

 /*pseudoclases pagina tres*/

 .img-seis{
    &:hover{
        border-radius: 1px solid;
        box-shadow: 2px 3px 4px $box-shadow;
    }
 }

 .img-siete{
    &:hover{
        border-radius: 1px solid;
        box-shadow: 2px 3px 4px $box-shadow;
    }
 }

 .img-ocho{
    &:hover{
        border-radius: 1px solid;
        box-shadow: 2px 3px 4px $box-shadow;
    }
 }

 /*pseudoclases pagina cuatro*/
 .img-nueve{
    &:hover{
        border-radius: 1px solid;
        box-shadow: 2px 3px 4px $box-shadow;
    }
 }

 .img-diez{
    &:hover{
        border-radius: 1px solid;
        box-shadow: 2px 3px 4px $box-shadow;
    }
 }

 .img-once{
    &:hover{
        border-radius: 1px solid;
        box-shadow: 2px 3px 4px $box-shadow;
    }
 }

 /*pseudoclases pagina cinco*/

 .img-trece{
    &:hover{
        border-radius: 1px solid;
        box-shadow: 2px 3px 4px $box-shadow;
    }
 }

 .img-catorce{
    &:hover{
        border-radius: 1px solid;
        box-shadow: 2px 3px 4px $box-shadow;
    }
 }

 .img-quince{
    &:hover{
        border-radius: 1px solid;
        box-shadow: 2px 3px 4px $box-shadow;
    }
 }
